*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html {
    max-width: 90%;
}

body {
    background-color: rgb(55, 57, 46);
}
.header {
    display: flex;
    justify-content: space-between;
    height: 74px;
    line-height: 74px;
    font-size: 18px;
    color: rgb(213, 87, 59);
}
.header > h1 {
    margin: 0;
    background-color: rgb(55, 57, 46);
    color: rgb(238, 238, 238);
}
nav {
    margin: 0;
    line-height: 74px;
}
.menu {
    display:flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 0 4px;
}
.menu > ul {
    margin-left: 40px;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    color: rgb(238, 238, 238);
    height: 100%;
    width: 100%;
    padding: 0 10px;
}
.menu > li > a:hover {
    background-color: rgb(213,87,59);
    color: rgb(238, 238, 238);
    transition: 0.2s;
}
.phone-number {
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin-right: 0;
    font-size: 20px;
    cursor: pointer;
}

.item > img {
    height: 540px;
    width: rgb(238, 238, 238)px;
}
.swiper {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.swiper-slide>img {
    width: 100%;
    height: 100%;
}
.swiper-slide-active>img {
    width: 100%;
    height: 100%;
}
.swiper-slide-prev>img {
    width: 100%;
    height: 100%;
}

.swiper-button-next {
    color: rgb(238, 238, 238);
    transition: 0.2s;
}
.swiper-button-next:active {
    transform: translateY(5px);
    transition: 0.2s;
}
.swiper-button-prev {
    color: rgb(238, 238, 238);
    transition: 0.2s;
}
.swiper-button-prev:active {
    transform: translateY(5px);
    transition: 0.2s;
}
.swiper-pagination-bullet-active {
    background-color: rgb(238, 238, 238);
    transition: ease 0.3s;
}


.small__info {
    display: flex;
    justify-content: space-between;
    color:rgb(238, 238, 238);
    margin-bottom: 50px;
}
.small__info > .about {
    width:50%;
    margin-left: 35px;
    padding:0 65px;
    
}


.small__info > .about > h3 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.info__about {
    background-image: url(../img/camera.jpg);
    background-size: cover;
    opacity: 0.6;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 20px 20px rgb(55, 57, 46);
    transition: 200ms;
    position: relative;
}
.info__about:hover {
    opacity: 0.9;
    transition: 500ms;
}
.info__about > .button__about {
    width: 340px;
    height: 64px;
}
.info__about > .button__about > button {
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 4px solid #fff;
    transition: ease 200ms;
}
.info__about > .button__about > button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: ease 200ms;
}
.sectionHR {
    background-color: rgb(213, 87, 59);
    margin-bottom: 50px;
    height: 2px;
    border: none;
}
.add__info {
    display: flex;
    margin-bottom: 50px;
}
.add__row1 {
    display: flex;
    justify-content: space-between;
    color:rgb(238, 238, 238);
}
.add__row1 > .item__1 {
    text-align: center;
    padding: 0 130px;
}
.add__row1 > .item__1 > i {
    font-size: 62px;
    margin-bottom: 5px;
}
.add__row1 > .item__1 > h4{
    font-size: 26px;
}
.add__row1 > .item__2 {
    text-align: center;
    padding: 0 130px;
}
.add__row1 > .item__2 > i {
    font-size: 62px;
    margin-bottom: 5px;
}
.add__row1 > .item__2 > h4{
    font-size: 26px;
}
.add__row1 > .item__3 {
    text-align: center;
    padding: 0 130px;
}
.add__row1 > .item__3 > i {
    font-size: 62px;
    margin-bottom: 5px;
}
.add__row1 > .item__3 > h4{
    font-size: 26px;
}
.adress__map {
    display: flex;
    justify-content: space-between;
    color: rgb(238, 238, 238);
    margin-bottom: 50px;
}
.contact__main {
    width: 50%;
    padding: 10px 15px;
}
.contact__main h4 {
    font-size: 28px;
}
.why-us {
    display: flex;
    justify-content: space-between;
}

.why-us__photo-section img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}


.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(55, 57, 46);
    z-index: 10;
    transition: 0.2s;
}
.about.scrollAnimateItem {
    transform: translateX(-100px);
    opacity: 0;
    transition: ease 0.3s;
}
.about.scrollAnimateItem.animation-class{
    opacity: 1;
    transform: translateX(0px);
    transition: ease 0.3s;
}
.info__about.scrollAnimateItem {
    transform: translateX(100px);
    opacity: 0;
    transition: ease 0.3s;
}
.info__about.scrollAnimateItem.animation-class {
    transform: translateX(0);
    opacity: 0.6;
    transition: ease 0.3s;
}
.item__1.scrollAnimateItem {
    transform: translateY(-70px);
    opacity: 0;
    transition: ease 0.2s;
}
.item__2.scrollAnimateItem{
    transform: translateY(-70px);
    opacity: 0;
    transition: ease 0.2s;
}
.item__3.scrollAnimateItem{
    transform: translateY(-70px);
    opacity: 0;
    transition: ease 0.2s;
}
.item__1.scrollAnimateItem.animation-class{
    transform: translateY(0);
    opacity: 1;
    transition: ease 0.2s;
}
.item__2.scrollAnimateItem.animation-class{
    transform: translateY(0);
    opacity: 1;
    transition: ease 0.2s;
    transition-delay: 0.2s;
}
.item__3.scrollAnimateItem.animation-class{
    transform: translateY(0);
    opacity: 1;
    transition: ease 0.2s;
    transition-delay: 0.4s;
}
.adress__map.scrollAnimateItem {
    transform: translateY(-70px);
    opacity: 0;
    transition: ease 0.3s;
}
.adress__map.scrollAnimateItem.animation-class {
    transform: translateY(0);
    opacity: 1;
    transition: ease 0.3s;
} 



/* Social media styles are here*/


.social-media-title {
    font-size: 32px;
    color: rgb(238, 238, 238);
    text-align: center;
    margin-bottom: 40px;
}
.social-media-links {
    font-size: 26px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.social-link a {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(238, 238, 238);
    border-radius: 5px;
    transition: ease 0.4s;
}
 
.social-link a:hover {
    -moz-box-shadow: 0 0 20px rgb(238, 238, 238);
    -webkit-box-shadow: 0 0 20px rgb(238, 238, 238);
    box-shadow: 0 0 20px rgb(238, 238, 238);
    transition: ease 0.3s;
}

.telegram-link a {
    color: #0088cc;
}

.telegram-link a {
    color: #0088cc;
}

.instagram-link a {
    color: #C13584;;
}

.facebook-link a {
    color: #4267B2;
}

.linkedin-link a {
    color: #2867B2;
}

.github-link a {
    color: rgb(238, 238, 238);
}

.social-media-title.scrollAnimateItem, .social-media-links.scrollAnimateItem {
    transform: translateY(-50px);
    opacity: 0;
    transition: ease 0.2s;
}
.social-media-title.scrollAnimateItem.animation-class, .social-media-links.scrollAnimateItem.animation-class {
    transform: translateY(0);
    opacity: 1;
    transition: ease 0.2s;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-menu {
    padding: 0;
}
.footer-ul {
    display: flex;
    justify-content: start;
    list-style: none;
    padding-bottom: 35px;
}
.footer-li {
    margin: 0;
    padding-right: 25px;
}
.footer-li a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}
.create-description {
    text-align: center;
    color: rgb(148, 148, 148);
}